.validate-btn {
    margin-left: 10px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 1s;
}

.validate-btn:hover {
    background-color: #3b793b;
    transition: 1s;
}
